body {
  background-color: #212f32;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: white; */
}

.gif {
  padding: 2px 2px;
}

.loader {
  color: blue;
}

form.form-inline.justify-content-center.m-2 {
  justify-content: center;
  margin: auto;
  width: 70%;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

input.form-control {
  width: 90%;
  height: 30px;
}

button.btn.btn-primary.mx-2 {
  width: 5%;
  height: 36px;
}


ul.ul-class {
  justify-content: center;
  margin: auto;
  width: 70%;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul.ul-class li {
  margin-right: 6px;
}

h2.Giphy {
  color: #fff;
  text-align: center;
}

.main-root hr {
  width: 100px;
}


.nextBtn {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.nextBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nextBtn:hover span {
  padding-right: 25px;
}

.nextBtn:hover span:after {
  opacity: 1;
  right: 0;
}